!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Idea Box"
    %link{ rel: "stylesheet", href: "https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Pacifico" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Oxygen" }

    = stylesheet_link_tag "application"
    = csrf_meta_tag

  %body.background

    = yield

  = javascript_include_tag "application"
